---
import Layout  from '../layouts/Layout.astro';
import Navbar  from '../components/Navbar.astro';
import Hero    from '../components/Hero.astro';
import About   from '../components/About.astro';
import Cakes   from '../components/Cakes.astro';
import Reviews from '../components/Reviews.astro';
import CTA     from '../components/CTA.astro';
import Footer  from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Cakes />
    <Reviews />
    <CTA />
  </main>
  <Footer />
</Layout>
